In [12]:
#converting a string to a list
str1="One,two,three"
print(str1.split(","))
print(str1)

['One', 'two', 'three']
One,two,three

In [52]:
#converting a list of strings to a string
str2=["one","two","three"]
str3=str(str2).replace('['," ")
str4=str3.replace(']'," ")
print(str4)
a=str4[2:5]
b=str4[9:12]
c=str4[16:21]
print("\n"+a)
print("\n"+b)
print("\n"+c)
print(type(a))

 'one', 'two', 'three'

one

two

three
<class 'str'>

In [64]:
#merging two dictionaries
d1={"one":1,"two":2,"three":3}
d2={"four":4,"five":5,"six":6}
d3={**d1,**d2}
print(d3)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6}

In [65]:
#Merging two lists
l1=[12,23,34,45,65]
l2=[34,32,45,676,87]
l1.extend(l2)
l1

[12, 23, 34, 45, 65, 34, 32, 45, 676, 87]

In [83]:
#Combining two tuples into one
t1=(12,23,34,34,56,676)
t2=(23,34,23,234,565,76,78)
t3=t1+t2
print(t3)

(12, 23, 34, 34, 56, 676, 23, 34, 23, 234, 565, 76, 78)

In [73]:
#combining two sets into one set
s1={"one","two,","three","three","four"}
s2={"Five","four","three","six","seven"}
s3=s1.union(s2)
print(s3)

{'one', 'Five', 'three', 'seven', 'six', 'four', 'two,'}

In [81]:
len1=len(s3)//2
len1
for i in s3:
    if(len(s3)<=len1):
        s1=s3
    elif(len(s3)>len1):
        s2=s3-s1
print(s1)
print(s2)

{'one', 'two,', 'four', 'three'}
{'seven', 'Five', 'six'}

In [92]:
len1=len(t3)//2
len1
for i in t3:
    if(len(t3)<=len1):
        t1=t3
    elif(len(t3)-1>len1):
        t2=t3-t1
print(t1)
print(t2)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [93]:
listA = [('Mon', 3), ('Wed', 4), ('Fri', 7, 'pm')]
# Given list
print("Given list : \n", listA)
res = [item for t in listA for item in t]
# Result
print("Final list: \n",res)

Given list :
 [('Mon', 3), ('Wed', 4), ('Fri', 7, 'pm')]
Final list:
 ['Mon', 3, 'Wed', 4, 'Fri', 7, 'pm']

In [102]:
#converting a list of tuples to list
l1=[("one","two","three"),("four","five"),("six","seven")]
l1
final_list=[j for i in l1 for j in i]
print(final_list)

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [108]:
#converting a string of lists to list of list
str1="[one,1,two,2]"

l1=(str1.strip('[]')).split(",")
l1

['one', '1', 'two', '2']

In [122]:
#converting a given list into a nested list
l1=["one","two","three","four","five"]
final_list=[]
for i in l1:
    l2=i.split(",")
    final_list.append(l2)
print(final_list)

[['one'], ['two'], ['three'], ['four'], ['five']]